name: Docker Image CI

on:
  push:
    paths-ignore:
      - '*.md'
      - '*.yml'
      - '*.yaml'
      - '*.png'
      - 'LICENSE'

jobs:

  build_arm64_images:
    name: "Build Multi Arch Images"
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3      
      with:
        version: latest

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.DOCKER_GIT_SEC }}

    - name: Run Buildx & Push Multi Arch    
      run: |        
        docker buildx build --platform linux/amd64,linux/arm64,linux/arm/v7 -t ghcr.io/androidseb25/igotify-notification-assist:latest -f ./Dockerfile --provenance=false --sbom=false --output type=image,push=true .

    - name: Gotify Notification SUCCESS
      if: success()
      uses: eikendev/gotify-action@master
      with:
        gotify_api_base: ${{ secrets.API_BASE }}
        gotify_app_token: ${{ secrets.API_TOKEN }}
        notification_title: 'iGotify Notification Assist'
        notification_message: 'Build success'
        notification_priority: 0
        
    - name: Gotify Notification FAILED
      if: failure()
      uses: eikendev/gotify-action@master
      with:
        gotify_api_base: ${{ secrets.API_BASE }}
        gotify_app_token: ${{ secrets.API_TOKEN }}
        notification_title: 'iGotify Notification Assist'
        notification_message: 'Build failed'
        notification_priority: 10
        
    - name: Gotify Notification CANCELLED
      if: cancelled()
      uses: eikendev/gotify-action@master
      with:
        gotify_api_base: ${{ secrets.API_BASE }}
        gotify_app_token: ${{ secrets.API_TOKEN }}
        notification_title: 'iGotify Notification Assist'
        notification_message: 'Build cancelled'
        notification_priority: 0
